@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html, body {
	background: #042C6A url("../img/bg.jpg") no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.login-box {
	margin: 10% auto 0 auto;
	max-width: 300px;	
	padding: 10px;
}

.login-box>header {
	padding-bottom: 30px;
	text-align: center;
}

.login-box>header>small {
	
}

.login-box .second-login {
	padding: 20px 0;
}

.login {
	padding: 20px 30px;
}

.login .btn {
	border-radius: 99em;
	font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 2px solid #000;
    border-radius: 99em;
	text-align: center;
}

.status-box {
	background-color: #fff;
	border-radius: 6px;
	color: #000;
	margin-bottom: 10px;
}

.status-box>header {
	background-color: #fa0009;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	padding: 10px;
	margin: -10px -10px 10px -10px; 
}


